<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>365 dias de love</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-secondary shadow-sm">
          <div class="container">
            <a href="#" class="ms-0 navbar-brand d-flex align-items-center text-white">
              <strong>Meu love</strong>
              <img src="coracaoicon.png" class="ms-2" width="23px" height="26px">
            </a>
            <img src="Isabe_Sato-removebg-preview.png" class="" width="75" height="75">
          </div>
        </div>
        <div class="navbar fixed-top navbar-dark bg-secondary shadow-sm">
          <div class="container">
            <a href="#" class="ms-0 navbar-brand d-flex align-items-center text-white">
              <strong>Meu love</strong>
              <img src="coracaoicon.png" class="ms-2" width="23px" height="26px">
            </a>
            <img src="Isabe_Sato-removebg-preview.png" class="" width="75" height="75">
          </div>
        </div>
      </header>


      <div class="container mt-4 text-center">
        <img src="mensagemDonut.png" style="border-radius: 5%;" class="img-fluid">
        <div class="container-sm border mt-3 text-center" style="max-width: 880px;">
            <div>Responder o seu stories do donut foi a unica forma que eu encontrei de puxar assunto com você. Não queria chamar você pra conversar do nada ou só responder uma foto, mesmo sabendo que o interesse era recíproco</div>
        </div>
    </div>



</body>
</html>